@import url('./comment/comment.css');

.comments__container {
    width: 1184px;
    margin: 0 auto;

    display: flex;
}

@media screen and (max-width: 375px) {
    .comments__container {
        width: 343px;

        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .comments__container {
        width: 288px;

        flex-direction: column;
    }
}
