.additional__text {
    width: 248px;

    margin: 0;
    padding: 0;

    position: absolute;
    bottom: 30px;
    left: 18px;

    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .additional__text {
        width: 210px;

        margin: 0;

        bottom: 16px;
        left: 16px;

        font-size: 14px;
        line-height: 20px;
    }
}
