.additional__heading {
    width: 248px;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 30px;
    left: 18px;

    font-size: 27px;
    font-weight: bold;
    line-height: 29px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .additional__heading {
        width: 208px;

        margin: 0;

        top: 24px;
        left: 16px;

        font-size: 24px;
        line-height: 26px;
    }
}
