@import url('./place/place.css');

.places {
    margin-top: 92px;
}

@media screen and (max-width: 375px) {
    .places {
        margin-top: 64px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin-top: 64px;
    }
}
