@import url('./__image/comment__image.css');
@import url('./__author/comment__author.css');
@import url('./__quote/comment__quote.css');

.comment {
    margin-right: 19px;
}

@media screen and (max-width: 768px) {
    .comment {
        width: 382px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px) {
    .comment {
        width: 343px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .comment {
        width: 288px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}
