.footer-nav__list {
    margin: 0;
    padding: 0;

    display: flex;

    list-style: none;
}

@media screen and (max-width: 375px) {
    .footer-nav__list {
        width: 343px;

        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer-nav__list {
        width: 288px;

        flex-direction: column;
    }
}
