@import url('./__image/place__image.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__title/place__title.css');
@import url('./__website/place__website.css');

.place {
    width: 984px;

    margin: 72px auto 0;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    .place {
        width: 720px;

        margin: 72px auto 0;

        align-items: flex-start;
    }

    .place:last-child>.place__paragraph {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 375px) {
    .place {
        width: 343px;

        margin: 0;

        flex-direction: column;
        align-items: flex-start;
    }

    .place:last-child>.place__paragraph {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .place {
        width: 288px;

        margin: 0;

        flex-direction: column;
        align-items: flex-start;
    }

    .place:last-child>.place__paragraph {
        margin-bottom: 0;
    }
}
