.content__title {
    margin: 102px auto 0;

    width: 800px;

    font-size: 72px;
    font-weight: bold;
    line-height: 78px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .content__title {
        width: 720px;

        margin: 102px auto 24px;

        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 375px) {
    .content__title {
        width: 343px;

        margin: 64px auto 16px;

        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .content__title {
        width: 288px;

        margin: 64px auto 16px;

        font-size: 32px;
        line-height: 35px;
    }
}
