.content__title {
    margin: 102px auto 0;

    width: 800px;

    font-size: 72px;
    font-weight: bold;
    line-height: 78px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 320px) {
    .content__title {
        width: 288px;

        margin: 64px 0 16px 0;
        padding: 0 16px 0 16px;

        font-size: 32px;
        line-height: 35px;
    }
}
