.video__item {
    width: 583px;
    height: 323px;

    background-image: url("../../../images/video/rect.png");

    margin-right: 18px;

    position: relative;

    text-decoration: none;
}

.video__item:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .video__item {
        width: 288px;
        height: 192px;

        padding: 0 16px 0 16px;

        margin-bottom: 8px;
    }
}


