.video__item {
    width: 583px;
    height: 323px;

    background-image: url("../../../images/video/rect.png");

    margin-right: 18px;

    position: relative;

    text-decoration: none;
}

.video__item:hover {
    opacity: 0.8;
}

@media screen and (max-width: 375px) {
    .video__item {
        width: 343px;
        height: 200px;

        margin-bottom: 8px;
    }

    .video__item:nth-child(1)>.video__title {
        width: 256px;

        margin: 0;
        font-size: 24px;
        line-height: 26px;

        top: 126px;
        left: 24px;
    }

    .video__item:nth-child(1)>.video__duration {
        width: 256px;

        margin: 0;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.3em;

        top: 106px;
        left: 24px;
    }

    .video__item:nth-child(2)>.video__title {
        width: 256px;

        margin: 0;
        font-size: 24px;
        line-height: 26px;

        top: 102px;
        left: 24px;
    }

    .video__item:nth-child(2)>.video__duration {
        width: 256px;

        margin: 0;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.3em;

        top: 82px;
        left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .video__item {
        width: 288px;
        height: 192px;

        margin-bottom: 8px;
    }

    .video__item:nth-child(1)>.video__title {
        width: 256px;

        margin: 0;
        font-size: 24px;
        line-height: 26px;

        top: 126px;
        left: 16px;
    }

    .video__item:nth-child(1)>.video__duration {
        width: 256px;

        margin: 0;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.3em;

        top: 106px;
        left: 16px;
    }

    .video__item:nth-child(2)>.video__title {
        width: 256px;

        margin: 0;
        font-size: 24px;
        line-height: 26px;

        top: 100px;
        left: 16px;
    }

    .video__item:nth-child(2)>.video__duration {
        width: 256px;

        margin: 0;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.3em;

        top: 80px;
        left: 16px;
    }
}


