.video__rect {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}

@media screen and (max-width: 320px) {
    .video__item-bg {
        width: 288px;
        height: 192px;

        padding: 0 16px 0 16px;
    }
}
