@import url('./__item/photo-greed__item.css');

.photo-greed {
    width: 1184px;

    margin: 92px auto 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
    .photo-greed {
        width: 288px;

        margin: 64px auto 0;

        flex-direction: column;
    }
}
