@import url('./_url/barentsburg__website_url.css');
@import url('./_url-heading/barentsburg__website_url-heading.css');

.barentsburg__website {
    width: 282px;
    margin: 48px 0 0 120px;
}

@media screen and (max-width: 375px){
    .barentsburg__website {
        width: 343px;
        margin: 24px auto 0;
    }
}

@media screen and (max-width: 320px){
    .barentsburg__website {
        width: 288px;
        margin: 24px auto 0;
    }
}
