.video__subtitle {
    padding: 0;
    margin: 0;

    position: absolute;
    bottom: 30px;
    left: 30px;

    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .video__subtitle {
        width: 285px;

        margin: 0;

        bottom: 35px;
        left: 30px;

        font-size: 14px;
        line-height: 15px;
    }
}

@media screen and (max-width: 768px) {
    .video__subtitle {
        width: 285px;

        margin: 0;

        bottom: 24px;
        left: 24px;

        font-size: 14px;
        line-height: 15px;
    }
}

@media screen and (max-width: 375px) {
    .video__subtitle {
        width: 297px;

        margin: 0;

        bottom: 24px;
        left: 24px;

        font-size: 14px;
        line-height: 15px;
    }
}

@media screen and (max-width: 320px) {
    .video__subtitle {
        width: 256px;

        margin: 0;

        bottom: 16px;
        left: 16px;

        font-size: 14px;
        line-height: 15px;
    }
}
