.video__item-bg {
    width: 583px;
    height: 323px;
}

@media screen and (max-width: 768px) {
    .video__item-bg {
        width: 352px;
        height: 200px;
    }
}

@media screen and (max-width: 375px) {
    .video__item-bg {
        width: 343px;
        height: 200px;
    }
}

@media screen and (max-width: 320px) {
    .video__item-bg {
        width: 288px;
        height: 192px;
    }
}
