.additional__item {
    margin-right: 16px;

    width: 284px;
    height: 330px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 375px) {
    .additional__item {
        margin: 24px auto 0;
    }

    .additional__item:first-child {
        margin: 16px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .additional__item {
        margin: 24px auto 0;
    }

    .additional__item:first-child {
        margin: 16px auto 0;
    }
}
