.lead__caption {
    width: 984px;

    margin: 11px auto 0;

    font-size: 10px;
    letter-spacing: 0.15em;
    line-height: 12px;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        width: 720px;

        margin: 16px auto 0;
    }
}

@media screen and (max-width: 375px) {
    .lead__caption {
        width: 343px;

        margin: 8px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        width: 288px;

        margin: 8px auto 0;
    }
}
