.cover__title {
    width: 1095px;

    position: absolute;
    top: 219px;
    left: 39px;

    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
}

@media screen  and (max-width: 1024px) {
    .cover__title {
        width: 565px;

        margin: 0;

        top: 220px;
        left: 230px;

        font-size: 72px;
        line-height: 78px;
        text-align: center;
    }
}

@media screen  and (max-width: 768px) {
    .cover__title {
        width: 720px;

        margin: 0;

        top: 126px;
        left: 24px;

        font-size: 72px;
        line-height: 78px;
        text-align: center;
    }
}

@media screen  and (max-width: 375px) {
    .cover__title {
        width: 251px;

        margin: 0;

        top: 110px;
        left: 66px;

        font-size: 32px;
        line-height: 35px;
        text-align: center;
    }
}

@media screen  and (max-width: 320px) {
    .cover__title {
        width: 288px;

        top: 33px;
        left: 16px;

        font-size: 32px;
        line-height: 35px;
        text-align: center;
    }
}
