.cover__title {
    width: 1095px;

    position: absolute;
    top: 219px;
    left: 39px;

    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
}

@media screen  and (max-width: 320px) {
    .cover__title {
        width: 288px;

        top: 33px;
        left: 16px;

        font-size: 37px;
        line-height: 35px;
        text-align: center;
    }
}
