.intro__main-text {
    width: 683px;

    margin: 0;
    padding: 0;

    fofont-size: 14px;
    line-height: 23px;
    color: #FFF;
}

@media screen and (max-width: 768px) {
    .intro__main-text {
        width: 720px;

        margin: 39px auto 35px;

        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 375px) {
    .intro__main-text {
        width: 343px;

        margin: 32px auto;

        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 320px) {
    .intro__main-text {
        width: 288px;

        margin: 24px auto 24px;

        font-size: 18px;
        line-height: 30px;
    }
}
