@import url('./__title/barentsburg__title.css');
@import url('./__text/barentsburg__text.css');
@import url('./__coord/barentsburg__coord.css');
@import url('./__map/barentsburg__map.css');
@import url('./__website/barentsburg__website.css');

.barentsburg {
    width: 1184px;

    margin: 85px auto 0;
}

.barentsburg__container {
    display: flex;
}

@media screen and (max-width: 1024px){
    .barentsburg__container {
        width: 928px;

        margin: 0 auto;
    }

    .barentsburg {
        width: 100%;

        margin: 102px auto 0;
    }
}

@media screen and (max-width: 768px){
    .barentsburg__container {
        width: 720px;

        margin: 0 auto;
    }

    .barentsburg {
        width: 100%;

        margin: 27px auto 0;
    }
}

@media screen and (max-width: 375px){
    .barentsburg__container {
        width: 375px;

        margin: 0 auto;

        flex-direction: column-reverse;
    }

    .barentsburg {
        width: 100%;

        margin: 88px auto 0;
    }
}

@media screen and (max-width: 320px){
    .barentsburg__container {
        width: 320px;

        margin: 0 auto;

        flex-direction: column-reverse;
    }

    .barentsburg {
        width: 100%;

        margin: 64px auto 0;
    }
}
