@import url('./__title/barentsburg__title.css');
@import url('./__text/barentsburg__text.css');
@import url('./__coord/barentsburg__coord.css');
@import url('./__map/barentsburg__map.css');
@import url('./__website/barentsburg__website.css');

.barentsburg {
    width: 1184px;
    margin: 85px auto 0;
}

.barentsburg__container {
    display: flex;
}

@media screen and (max-width: 320px){
    .barentsburg__container {
        width: 288px;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .barentsburg {
        width: 288px;
    }
}
