.comment__image {
    width: 97px;
    height: 97px;

    margin-bottom: 42px;
    padding: 0;

    border-radius: 50%;
}

@media screen and (max-width: 375px) {
    .comment__image {
        margin: 10px auto 0;

        width: 97px;
        height: 97px;

        text-align: center;

        order: 1;
    }
}

@media screen and (max-width: 320px) {
    .comment__image {
        margin: 2px auto 0;

        width: 96px;
        height: 96px;

        text-align: center;

        order: 1;
    }
}
