@media screen and (max-width: 1024px) {
    .additional__item-bg {
        width: 240px;
        height: 280px;
    }
}

@media screen and (max-width: 768px){
    .additional__item-bg {
        width: 284px;
        height: 330px;
    }
}

@media screen and (max-width: 375px){
    .additional__item-bg {
        width: 284px;
        height: 330px;
    }
}

@media screen and (max-width: 320px) {
    .additional__item-bg {
        width: 284px;
        height: 330px;
    }
}
